


<section class="text-center about">
    <h1>About US</h1>
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-info"></span>
                <h2>Specifications</h2>
                <p class="lead">
                    1. ONEMITS comes with the package of Discussion Forum where one can question about any  topic students and professors can also
                    answer it.</br></br>
                    2. Surveys are included in websites where one can take survey about anything and anyone  can answer it within span of seconds.</br></br>
                    3. Events pages are also included where one can see the upcoming official events that are  going to held in MITS. </br></br>
                    4. Education Page is also included where one can download and upload study materials  related to their studies and about some
                    emerging technologies. 
                </p>
            </div>

            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-group"></span>
                <h2>OneMITS</h2>
                <p class="lead">
                    ONEMITS is designed and created with a vision to unite all MITS students and professors in 
                    one platform and give a way to create link by a Forum cum Social website designed only for  MITS.
                    Here one can share their work in any area and can also ask for others help and can  seek answers for
                    their questions regarding MITS or their branch.
                </p>
            </div>

            <div class="clearfix visible-md-block visible-sm-block"></div>
            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-file"></span>
                <h2>Goals</h2>
                <p class="lead">
                    1. To connect all professors and students to ONEMITS and can bring unity to help the  one with his  work. <br /><br />
                    2. To create an atmosphere where one can freely ask anything to anyone and can also  share his/her thoughts in public. 
                </p>
            </div>

        </div>

    </div>
</section>

<div class="container">

    <div class="row heading">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center bottom-line">Meet Our Team</h2>
            <p class="subheading text-center">Creative Nerds</p>
        </div>
    </div>

    <div class="row team-row">
        <div class="col-md-3 col-sm-6 team-wrap">

        </div>
        <div class="col-md-3 col-sm-6 team-wrap">
            <div class="team-member text-center">
                <div class="team-img">
                    <img src="http://deothemes.com/envato/enigma/html/img/team_1.jpg" alt="">
                    <div class="overlay">
                        <div class="team-details text-center">
                            <p>
                                Our web design team will spend time with our digital marketing team.
                            </p>
                            <div class="socials mt-20">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <h6 class="team-title">John Marshall</h6>
                <span>Designer</span>
            </div>
        </div>
        <!-- end team member -->

        <div class="col-md-3 col-sm-6 team-wrap">
            <div class="team-member text-center">
                <div class="team-img">
                    <img src="http://deothemes.com/envato/enigma/html/img/team_2.jpg" alt="">
                    <div class="overlay">
                        <div class="team-details text-center">
                            <p>
                                Our web design team will spend time with our digital marketing team.
                            </p>
                            <div class="socials mt-20">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <h6 class="team-title">Steve Roberts</h6>
                <span>Photographer</span>
            </div>
        </div>
        <!-- end team member -->
        <div class="col-md-3 col-sm-6 team-wrap">
            
        </div>

    </div>
</div>